@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
:root{
    --lead: #212121;
    --gold-finger : #f2bd12;
    --eye-ball: #fffdf7;
    --hint-yellow: #fcf1cc;
    --pure-white: #fff;
}
body{
    background : var(--eye-ball);
}
/* BASIC STYLING */
a{
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--lead);
}
.flex{
    display:flex;
    align-items :center;
}
li{
    list-style: none;
}
.between{
    justify-content:space-between;
}
.gap-3{
    gap:3rem;
}
.wrapper{
    max-width: 1900px;
    margin:auto;
    padding-inline:1.5rem;
}
/*HEADER*/

.navbar{
    min-height: 14vh;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);
}
.btn{
    display:inline-block;
    padding: .9rem 2rem;
    background: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.5rem;
    color: var( --pure-white);
    box-shadow: rgba(45, 44, 44, 0.651) 0 2px 1px;
}